{% extends 'emails/html/base.html' %}


{% block email_opening %}
    <span>
        You (hopefully) have told us you want to reset your password.
    </span>
    <span>
        Click on the link below to get started.
    </span>

{% endblock %}


{% block email_CTA %}
     <a href="{% autoescape off %}http://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}{% endautoescape %}" target="_blank">
         Reset my password!
     </a>

{% endblock %}

{% block email_sign_off_remarks %}
    <span>
        If clicking the link above didn't work, please copy and paste the URL in a new browser
        window instead.
        {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
    </span>
    <span>
        P.S. If you weren't expecting this email, feel free to ignore it.
    </span>
{% endblock %}


